@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

.wrap {
	width: 100%;
}

.inner {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

.header {
	width: 100%;
	height: 120px;
	text-align: center;
	float: left;
}

.header .navbar_right {
	width: 300px;
	float: right;
	position: relative;
	top: 5px;
}

.header h1 {
	width: 200px;
	position: relative;
	top: 10px;
	left: 517px;
	text-align: center;
}

.header h1 img {
	height: 100px;
}

.header .navbar_right ul li {
	list-style-type: none;
	float: left;
	padding-left: 20px;
}

.header .navbar_right ul li a {
	text-decoration: none;
	color: black;
}

.middle_bar {
	width: 100%;
	float: left;
	background-color: rgb(194, 194, 194);
}

.middle_bar .inner ul {
	text-align: center;
}

.middle_bar .inner ul li {
	width: 10%;
	list-style-type: none;
	float: left;
	padding: 10px 0px 10px;
	text-align: center;
	position: relative;
	left: 310px;
	border-right: 1px solid rgb(161, 161, 161);
}

.middle_bar .inner ul li a {
	text-decoration: none;
	color: white;
}

.middle_bar .inner ul li:nth-child(5) {
	border-right: none;
}

.smallmenu {
	width: 100%;
	padding-top: 10px;
	padding-left: 170px;
	float: left;
	font-size: 14px;
	padding-bottom: 10px;
}

.inner .Rtable {
	text-align: center;
}

.tabletitle td {
	background-color: rgb(219, 238, 255);
}

.texttable {
	border: 1px solid rgb(131, 131, 131);
	border-collapse: collapse;
	/* 	border-right : none; */
	/* 	border-left: none; */
	/* 	text-align: center; */ margin-top : 20px;
	display: inline-block;
	margin-top: 20px;

	/* position: relative;
	top: 10px;
	left: 200px; */
}

.inner .texttable tr td {
	border-bottom: 1px solid rgb(131, 131, 131);
	padding: 5px 60px 5px;
}

.writing input {
	border: 1px solid rgb(131, 131, 131);
	text-align: center;
}

.inner .button {
	display: flex;
	justify-content: center;
}

.button>ul>li, .button>.aaa>ul li {
	float: left;
	padding: 1px 20px 1px;
}

.middlebutton {
	text-align: center;
}

.tabletitle2 {
	border: 1px solid rgb(131, 131, 131);
	float: left;
	width: 800px;
	font-size: 12px;
	margin-left: 170px;

}

.tabletitle2 #lefttitle {
	text-align: center;
}

.tabletitle2 #righttitle {
	float: right;
	color: gray;
}
.tabletitle2 #righttitle2 {
	float: right;
	color: gray;
}

.tabletitle2 #content {
	clear: both;
	width: 100%;
	height: 300px;
}

#ltrt {
	padding: 10px 10px;
	border-bottom: 1px dotted lightblue;
}

.tabletitle2 #contentarea {
	padding: 10px 10px;
}

.tabletitle2 #rly {
	padding: 10px 10px;
	border-top: 1px dotted lightblue;
}

.recomment {
	padding: 10px 10px;
}
.eachcomment {
	padding-bottom:10px;
}
.attfile {
	display:none;
}